/* .menu-form-card{
width:50rem;
margin:auto;

} */

form .form-control{
  margin-bottom: 2rem;
  border-color: #868E27;
  
}

form,.green{
  color:#868E27;
}

.form-control:focus{
  border-color: #868E27;
  box-shadow: #868E27;
}

.form-control::placeholder{
  color: #868E27;
}

#greensubmit,#makeavailable{

  background-color:#868E27;
  color: white;

}

/* .menu-item{
  min-width:20rem;
} */

.menu-image{

  max-height: 15rem;
}