{% extends 'base.html' %} {% load static %} {% load django_bootstrap5 %} 
{% block styles %} {{block.super}} {% bootstrap_css %}
{% endblock %} 
{% block body %}
<div class="fullbody">
  <div class="navbar" id="navbarmenu align-items-start">
    {% include 'navbar.html' %}
  </div>
  <div class="main content">
    <div class="container">
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center mb-2"><div class="current_tab my-2">Manage Menu / {{active_date | date:'l, F j, Y'}} <a href="/menu/notify" class="btn greenbtn" >Send Notification</a> </div>  
     <div class="mt-2">
      <form
              action="{% url 'menu' %}"
              class="green"
              id="menudatepicker"
              method="POST"
            >
              {% csrf_token %}
              <!-- <label for="menu-date">Menu For</label> -->
              <input
                type="date"
                class="green"
                id="menudate"
                name="menudate"
                value="{{menudate}}"
              />
            </form> 
          </div>
      <button class="greenbtn btn" id="openmenuform" type="button" data-bs-target="#menuform" data-bs-toggle="collapse">Add Menu</button>

    </div>
      <div class="card mt-0 menu-form-card border-0 shadow p-2 collapse" id="menuform">        
        <div class="d-flex justify-content-between align-items-center">
          
          <h5 class="green">New Menu Item</h5>
        </div>
        <form
          action="{% url 'createmenu' %}"
          class=""
          id="menuform"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="row">
            <div class="col-12 col-lg-6">
              <label for="meal">Meal Items</label>
              <input
                type="text"
                name="meal"
                id="meal"
                class="form-control shadow-none"
                placeholder="Main items (rice & meat)"
              />
            </div>

            <div class="col-12 col-lg-6">
              <label for="additional">Additional Items</label>
              <input
                type="text"
                name="additional"
                id="additional"
                class="form-control shadow-none"
                placeholder="Additional Items"
              />
            </div>

            <div class="col-6">
              <label for="price">Meal Price</label>
              <input
                type="text"
                name="price"
                id="price"
                class="form-control shadow-none"
                placeholder="Price in Ksh"
              />
            </div>

            <div class="col-6">
              <label for="description">Description</label>
              <input
                type="text"
                name="description"
                id="description"
                class="form-control shadow-none"
                placeholder="Meal description"
              />
            </div>

            <div class="col-6">
              <label for="mealimage">Meal Image</label>
              <div>
                <input
                  type="file"
                  name="mealimage"
                  class="green"
                  id="mealimage"
                  required
                />
              </div>
            </div>
            <div class="col-12">
              <input
                type="submit"
                value="Add Menu"
                class="btn m-3 submit-menu mx-0"
                id="greensubmit"
              />
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <h3 class="my-3 green">{{active_date | date:'l, F j, Y'}} Menu</h3>
      {% if activemenuitems %}
      <div class="row">
        {% for menu in activemenuitems %}

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card d-flex p-lg-3 p-1 mb-2 flex-row flex-column-reverse flex-md-row justify-content-between align-items-center">
            <div>
              <h3>{{menu.meal}}</h3>
              <p>{{menu.description}}</p>
              <p>Ksh. {{menu.price}}</p>
              <div class="flex_buttons">
                <a
                  class="btn btn-secondary"
                  id="makeunavailable"
                  name="makeunavailable"
                  href="{% url 'make_unavailable' menu.id %}"
                  >Make Unavailable</a
                >
                <!-- <a class="btn btn-danger" href="{% url 'delete_menu' menu.id %}">Delete</a> -->
                <a class="btn" id="greenbtn" href="{% url 'editmenu' menu.id %}"
                  >Edit</a
                >
              </div>
            </div>
            <div>
              <img
                src="{{menu.image.url}}"
                class="menu-image img-fluid"
                alt="Now"
              />
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% else %}
      <p class="text-danger">Today's menu is empty</p>
      {% endif %}
      <hr>
      <h3 class="mt-3 green">Meals Selection</h3>

      {% if inactivemenuitems %}
      <div class="row">
        {% for menu in inactivemenuitems %}
        <div class="col-12 col-md-6 col-lg-6">
          <div
            class="card meal-card d-flex p-lg-3 p-1 mb-2 flex-column-reverse flex-md-row flex-lg-row justify-content-between text-muted align-items-center"
          >
            <div class="buttonsmalls">
              <h3>{{menu.meal}}</h3>
              <p>{{menu.description}}</p>
              <p>Ksh. {{menu.price}}</p>
              <div class="flex_buttons">
                <a
                  class="btn greensubmit"
                  id="makeavailable"
                  href="{% url 'available' menu.id %}"
                  >Make Available</a
                >
                <!-- <a class="btn btn-danger" href="{% url 'delete_menu' menu.id %}">Delete</a> -->
                <a class="btn" id="greenbtn" href="{% url 'editmenu' menu.id %}"
                  >Edit</a
                >
              </div>
            </div>
            <div>
              <img
                src="{{menu.image.url}}"
                class="menu-image img-fluid"
                alt="Now"
              />
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      {% else %}
      <p>No meals to list</p>
      {% endif %}
    </div>
  </div>
</div>
<div class="footer">{% include 'footer.html' %}</div>

{% block scripts %}
<style>
  .flex_buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 5px;
    column-gap: 15px;
  }

  .flex_buttons a {
    margin-top: 5px;
    font-size: 14px;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="{% static 'menujs/index.js' %}" type="text/javascript"></script>
 {% endblock %} {% endblock %}
