{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block body %}
    <div class="fullbody">
        <div class="navbar">{% include 'navbar.html' %}</div>
        <div class="content">
            <div class="current_tab">Dashboard /</div>
            <div class="flex_dashdata">
                <div class="flex_cards">
                    <div class="card">Total Sales <br> 12,350/=</div>
                    <div class="card">Total Order <br> 70</div>
                    <div class="card">Admins <br> 4</div>
                    <div class="card">Clients <br> 300</div>
                </div>
                <div class="callendar">
                    <div class="calendar-header" id="calendarheader"></div>
                    <div class="weeks" id="weeks"></div>
                    <div class="days" id="days"></div>
                </div>
            </div>
            <div class="current_tab" id="latest_orders">Latest Orders</div>
        </div>
        </div>
    <div class="footer">{% include 'footer.html' %}</div>
{% endblock %}