<nav>
    <div class="nav_logo">B.A.M</div>
    <div class="nav_list">
        <div class="nav_items"><a href="" class="nav_link"><i class="fa-solid fa-gauge"></i> <span class="nav_name">Dashboard</span></a> </div>
        <div class="nav_items"><a href="{% url 'managecaters' %}" class="nav_link"><i class="fa-solid fa-user-check"></i> <span class="nav_name">Admin</span></a> </div>
        <div class="nav_items"><a href="{% url 'menu' %}" class="nav_link"><i class="fa-solid fa-clipboard-list"></i> <span class="nav_name">Menu</span></a> </div>
        <div class="nav_items"><a href="" class="nav_link"><i class="fa-solid fa-basket-shopping"></i> <span class="nav_name">Orders</span></a> </div>
        <div class="nav_items"><a href="" class="nav_link"><i class="fa-brands fa-shopify"></i> <span class="nav_name">Sales</span></a> </div>
        <div class="nav_items"><a href="" class="nav_link"><i class="fa-solid fa-clock-rotate-left"></i> <span class="nav_name">History</span></a> </div>
        <div class="nav_items"><a href="{% url 'logout' %}" class="nav_link"><i class="fa-solid fa-arrow-right-from-bracket"></i> <span class="nav_name">Logout</span></a></div>
    </div>
</nav>
